body{
    background-color: rgb(18, 37, 43);

    height: 100vh;
    width: 100vw;
}

nav {
    background-color: rgb(48, 46, 47);
    padding: 10px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    
}

.product {
    
    margin: 10px;
    padding: 10px;
    transition: all 0.5s ease;
}

.product:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}